.DS_Store

professorlol-riot-api/src/main/resources/application-riot.yml

professorlol-core/src/main/generated/
professorlol-web/src/main/generated/

HELP.md
.gradle
build/
!**/src/main/**
!**/src/test/**

### QueryDsl QClass ###
generated/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

professorlol-web/src/main/resources/application-oauth.yml

node_modules
/dist/*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
professorlol-web/src/main/resources/static/
professorlol-web/src/main/resources/favicon.ico
/professorlol-core/src/main/generated/
